<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.Wizard.Example\Orc.Wizard.Example.NET40\packages.config" />
  <repository path="..\src\Orc.Wizard.Tests\Orc.Wizard.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.Wizard.Tests\Orc.Wizard.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.Wizard\Orc.Wizard.NET40\packages.config" />
  <repository path="..\src\Orc.Wizard\Orc.Wizard.NET45\packages.config" />
</repositories>